<a href="https://colab.research.google.com/github/boopathiviky/Eulers-Project/blob/repo/euler's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.multiples of 3 and 5

In [14]:
sum1=0
x=int(input())
for i in range(1,x):
    if(i%3==0 or i%5==0):
        sum1=sum1+i
print(sum1)

1000
233168

#2.even fib numbers

In [15]:
a=0
b=1
c=0
sum2=0
for i in range(0,10):
  c=a+b
  a=b
  b=c
  print(c)
  if(c%2==0):
    sum2=sum2+c
print('sum',sum2)

1
2
3
5
8
13
21
34
55
89
sum 44

#3.prime fact of

In [16]:
def isprime(n):
  pr=1
  for i in range(2,int(n/2)):
    if(n%i==0):
      pr=0
      break
  if(pr==1):
    print(n)

In [17]:
x=int(input())
for i in range(2,x):
  if(x%i==0):
    isprime(i)

15
3
5

#4.Largest palindrome product

In [18]:
li=[]
def ispalindrome(c):
  if(str(c) == str(c)[::-1]):
    li.append(c)
    #print(list)
    li.sort()

for i in range(100,1000):
  for k in range(i,1000):
    a=i*k
    ispalindrome(a)
print("Largest palindrome is:", li[-1])

Largest palindrome is: 906609

#5.Smallest multiple

In [19]:
n=1
 
while (n>=1):
  n=n+1
  c=1
  for i in range(1,11):
    if (n%i==0):
      c=c+1
  if (c>10):
    print(n)
    break

2520

#6.Sum square difference

In [20]:
sq1=0
sq=0
# i insiate start,stop 10 1,9 1,11
for i in range(1,100+1):
  sq=i**2
  sq1=sq1+sq
sqr=0
for j in range(1,100+1):
  sqr=sqr+j
s1=sqr**2
final=s1-sq1
print(sq1)
print(s1)
print(final)

338350
25502500
25164150

In [21]:
# sq1=0
# for i in range(1,10+1):
#   sq=i**2
#   sq1=sq1+sq
#   print(sq)
#   print('\t',sq1)

#7.10001st prime

In [22]:
def isprime(n):
  pr=1
  for i in range(2,int(n/2)):
    if(n%i==0):
      pr=0
      break
  if(pr==1):
    return 1
c=0
for i in range(3,1000000):
  if (isprime(i)==1):
    c=c+1
  if (c>=10001):
    print (i)
    break

104743

#8.Largest product in a series

In [23]:
n='731671765313306249192251196744265747423553491949349698352031277450632623957831801698480186947885184385861560789112949495459501737958331952853208805511\
125406987471585238630507156932909632952274430435576689664895044524452316173185640309871112172238311362229893423380308135336276614282806444486645238749\
303589072962904915604407723907138105158593079608667017242712188399879790879227492190169972088809377665727333001053367881220235421809751254540594752243\
525849077116705560136048395864467063244157221553975369781797784617406495514929086256932197846862248283972241375657056057490261407972968652414535100474\
821663704844031998900088952434506585412275886668811642717147992444292823086346567481391912316282458617866458359124566529476545682848912883142\
60769004224219022671055626321111109370544217506941658960408\
0719840385096245544436298123098787992724428490918884580156166097919133875499200524063689912560717606\
0588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450'
lst=[]
h=1
lst=str(n)
p=13
for i in range(0,1000):
  temp=lst[i:i+p]
  sum1=1
  for j in range(len(temp)):
    v=int(temp[j])
    sum1=sum1*v
    if h<sum1 :
      h=sum1
print(h)

23514624000

#9.Special Pythagorean triplet

In [24]:
for i in range(500):
  for j in range(500):
    for k  in range(500):
      if i+j+k == 1000:
        if i<j<k:
          if i**2+j**2==k**2:
            print (i,j,k)

200 375 425

#10.Summation of primes

In [26]:
num1=[]
pr=0
for num in range(0,11):
  if num>=1:
    for i in range(2,num):
      if(num%i==0):
        pr=0
        break
      else:
        pr=1
    if(pr==1):
      num1.append(num)
print(sum(num1))

TypeError: ignored

#11.Largest product in a grid

In [27]:
import numpy as np
lst1=[]
lst2=[]
lst3=[]
lst4=[]
dt=np.genfromtxt('data.txt', delimiter=' ')
rows, cols=dt.shape
print(dt[0])
su=1
for i in range(0,rows):
    for j in range(0,cols):
      # forward
      if(j+4<=cols):
            su=dt[i,j]*dt[i,j+1]*dt[i,j+2]*dt[i,j+3]
            lst1.append(su)
            su=1
            #downward
      if(i+4<=rows):
            su=dt[i,j]*dt[i+1,j]*dt[i+2,j]*dt[i+3,j]
            lst2.append(su)
            su=1
            # diagonal l-r
      if(i+4<=rows and j+4<=cols):
            su=dt[i,j]*dt[i+1,j+1]*dt[i+2,j+2]*dt[i+3,j+3]
            lst3.append(su)
            su=1
            # diagonal r-l
      if(j>2 and i<cols-3):
          su=dt[i,j]*dt[i+1,j-1]*dt[i+2,j-2]*dt[i+3,j-3]
          lst4.append(su)
          su=1
print(max(lst1),max(lst2),max(lst3),max(lst4))

[ 8.  2. 22. 97. 38. 15.  0. 40.  0. 75.  4.  5.  7. 78. 52. 12. 50. 77.
 91.  8.]
48477312.0 51267216.0 40304286.0 70600674.0