#1.multiples of 3 and 5

In [ ]:
sum1=0
x=int(input())
for i in range(1,x):
    if(i%3==0 or i%5==0):
        sum1=sum1+i
print(sum1)

#2.even fib numbers

In [ ]:
a=0
b=1
c=0
sum=0
for i in range(0,10):
  c=a+b
  a=b
  b=c
  print(c)
  if(c%2==0):
    sum=sum+c
print('sum',sum)

1
2
3
5
8
13
21
34
55
89
sum 44

#3.prime fact of

In [ ]:
def isprime(n):
  pr=1
  for i in range(2,int(n/2)):
    if(n%i==0):
      pr=0
      break
  if(pr==1):
    print(n)

In [ ]:
x=int(input())
for i in range(2,x):
  if(x%i==0):
    isprime(i)

13195
5
7
13
29

#4.Largest palindrome product

In [ ]:
li=[]
def ispalindrome(c):
  if(str(c) == str(c)[::-1]):
    li.append(c)
    #print(list)
    li.sort()

for i in range(100,1000):
  for k in range(i,1000):
    a=i*k
    ispalindrome(a)
print("Largest palindrome is:", li[-1])

Largest palindrome is: 906609

#5.Smallest multiple

In [ ]:
n=1
 
while (n>=1):
  n=n+1
  c=1
  for i in range(1,11):
    if (n%i==0):
      c=c+1
  if (c>10):
    print(n)
    break

2520

#6.Sum square difference

In [ ]:
sq1=0
sq=0
# i insiate start,stop 10 1,9 1,11
for i in range(1,100+1):
  sq=i**2
  sq1=sq1+sq
sqr=0
for j in range(1,100+1):
  sqr=sqr+j
s1=sqr**2
final=s1-sq1
print(sq1)
print(s1)
print(final)

338350
25502500
25164150

In [ ]:
# sq1=0
# for i in range(1,10+1):
#   sq=i**2
#   sq1=sq1+sq
#   print(sq)
#   print('\t',sq1)

1
	 1
4
	 5
9
	 14
16
	 30
25
	 55
36
	 91
49
	 140
64
	 204
81
	 285
100
	 385

#7.10001st prime

In [ ]:
def isprime(n):
  pr=1
  for i in range(2,int(n/2)):
    if(n%i==0):
      pr=0
      break
  if(pr==1):
    return 1
c=0
for i in range(3,1000000):
  if (isprime(i)==1):
    c=c+1
  if (c>=10001):
    print (i)
    break

104743